


body {
	Background-color: #bbb36c;
	margin: 0 10%;
	font-family: sans-serif;
	color: black;
	font-size: 18px;
	background-image: url('Photos/TestImage2.png');
}

h1 {
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #141414;
	font-weight: 300;
}

h2.TextHeading {
	color: #141414;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
	/* border-bottom: 2px solid #141414; */
}

h2.LinkHeading {
	color: #00043b;
	font-size: 1em;
	text-align: center;
	background-color: #b1b1fc;
}

a {
	color: #141414;
	display: block;
	text-align: center;
}

a.TopLink {
	display: inline;
	font-size: 22px;
}

a:link {
	color: #141414;
}

a:visited {
	color: rgb(1, 23, 53);
}

a:hover {
	color: rgb(0, 99, 175);
}

a:active {
	color: rgb(0, 26, 255);
}

a.GalleryLink {
	font-size: 24px;
	margin-bottom: 10px;
}

/* img {
	box-shadow: 10px 5px;
} */

img.imgLogo {
	width: 80px;
}

img#img1 {
	width: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img#img2 {
	width: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

div.flexible {
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
}

div.mainBody {
	border-style: solid;
	border-width: 1px;
	background-color: #fff59a;
}

div.galleryBody {
	border-style: solid;
	border-width: 1px;
	background-color: #fff59a;
	box-shadow: 5px 5px;
}



div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }